@page
@model ManegerModel
@{
    ViewData["Title"] = "Mangment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Ramses Station</title> 
     
    <link rel="stylesheet" href="css/button.css" />
    
</head>
<body>
   

    <div class="content">
        <br /><br />
        <h1>Welcome to Station Mangment Page</h1>
        <br />
        
        <!-- Add your other content here -->
    </div>


    <div>
    
        
        <br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br />
     
   
    </div>

    <!-- Centered Button -->
    <a class="btn" href="/maneger_login">
       Please Login in !
    </a>

 

    <!-- Add your scripts here if needed -->
</body>
</html>
<!-- photo style -->
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/images/station.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        color: #fff;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: normal;
    }

    /* Style for the button */


    /* Add additional styles for your content if needed */

    /* Style for the footer */


</style>
<!-- bottom& text style -->
<style>

    .content {
        text-align: center;
        margin-top: 150px; /* Adjust the margin as needed */
        font-family: 'Comic Sans MS', cursive;
        color: white;
        backdrop-filter: blur(50px);
    }

        .content h1 {
            font-size: 4em;
            margin-bottom: 60px;
        }

        .content p1 {
            font-size: 1.5em;
        }
</style>